SERVICE_ENV=development
SERVICE_IP=0.0.0.0
DATA_CONNECTOR_PORT=3003
DS_FILE=ds.json
#DB_TYPE influx
DB_TYPE=csv
#InfluxDB
INFLUXDB_USERNAME="admin"
INFLUXDB_URL=http://localhost:8086
INFLUXDB_PASSWORD="<your_password>"
INFLUXDB_ORG="<your_org>"
INFLUXDB_BUCKET="<bucket_name>"
INFLUXDB_TOKEN="<influx_token>"