SERVICE_ENV=development
SERVICE_IP=0.0.0.0
DATA_CONNECTOR_PORT=3003
DS_FILE=ds.json
# DB_TYPE (csv or influx)
DB_TYPE=csv
## CSV
# Route to CSV file defined in code
## InfluxDB (Uncomment and define if choosing influx)
# INFLUXDB_USERNAME="admin"
# INFLUXDB_URL=http://localhost:8086
# INFLUXDB_PASSWORD="<your_password>"
# INFLUXDB_ORG="<your_org>"
# INFLUXDB_BUCKET="<bucket_name>"
# INFLUXDB_TOKEN="<influx_token>"
